@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(100%) rotate(-5deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(-5deg);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-down-opacity {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slide-up-opacity {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slide-left-opacity {
  from {
    // opacity: 0;
    // transform: translateX(-3rem);
  }
  to {
    // opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slide-right-opacity {
  from {
    // opacity: 0;
    // transform: translateX(3rem);
  }
  to {
    // opacity: 1;
    // transform: translate(0, 0);
  }
}
.left {
  transform: translateX(-200%);
}
.right {
  transform: translateX(200%);
}
.fadein {
  animation: opacity 0.4s ease-out;
}
.slide-down-opacity {
  animation: slide-down-opacity 0.4s ease-out;
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}
.slide-up-opacity {
  animation: slide-up-opacity 0.4s ease-out;
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}
.slide-right-opacity {
  // animation: slide-right-opacity 0.4s ease-out;
  transform: translateX(0) !important;
  // opacity: 1 !important;
  // transform: translate(0, 0) !important;
}
.slide-left-opacity {
  // animation: slide-left-opacity 0.4s ease-out;
  // -webkit-animation: slide-left-opacity 0.3s ease-out;
  // opacity: 1 !important;
  transform: translateX(0) !important;
}
