.blog {
  h1 {
    padding: 1rem;
    margin: 0;
    // background-color: $black;
    // color: $light;
    p {
      margin: 0;
    }
  }
  .BlogPost {
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding-bottom: 3rem;
    .title {
      margin: 0;
      padding: 1.5rem;
      padding-bottom: 0;
      text-transform: uppercase;
    }
    .date {
      padding: 1.5rem;
      padding-top: 0.3rem;
      margin: 0;
      color: #687079;
      font-size: 1rem;
    }
    .image-container {
      width: 100%;
      text-align: center;
    }
    img {
      width: 100%;
    }

    .text {
      padding: 1rem 1.5rem;
      padding-bottom: 3rem;
      font-family: PT Serif, serif;
    }
    .text p {
      text-indent: 2rem;
      font-size: 1.1rem;
      word-wrap: break-word;
      margin: 0;
      margin-bottom: 1rem;
    }
  }
}
