.Footer {
  background-color: $black;
  color: $light;
  height: 25rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $light;

    svg {
      max-width: 3rem;
      max-height: 2.5rem;
    }
  }
  .contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      padding: 2rem;
      display: inline;
      a {
        i {
          font-size: 2rem;
        }
      }
    }
    .back-to-top {
      display: block;
    }
  }
  .footer-content-container {
    width: 100%;
    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7rem;
      a {
        height: 5rem;
        width: 5rem;
      }
    }
  }
  h3 {
    text-align: center;
    padding-top: 2rem;
  }
}
