.shop {
  .products-container {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .product {
      background-color: $light;
      box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.2);
      padding: 1rem;
      margin: 1rem;
      h4 {
        font-size: 1.5rem;
      }
      img {
        max-width: 20rem;
        width: 100%;
      }
      button {
        padding: 0.5rem 2rem;
        background-color: $green;
        color: $light;
        font-size: 1.1rem;
        border: none;
        transition: 0.3s all ease-in-out;
        &:hover {
          cursor: pointer;
          box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
        }
        &:active {
          transform: translate(3px, 3px);
          box-shadow: none;
          transition: 0.1s all ease-in-out;
        }
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .shop {
    .products-container {
      display: block;
      padding: 0;
      .product {
        text-align: center;
      }
    }
  }
}
