.shop {
  .products-container {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .product {
      background-color: $light;
      box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.2);
      padding: 1rem;
      margin: 1rem;
      h4 {
        font-size: 1rem;
      }
      img {
        max-width: 20rem;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .shop {
    .products-container {
      display: block;
      .product {
        text-align: center;
      }
    }
  }
}
